{
    "openapi": "3.1.0",
    "info": {
        "title": "Payment Gateway API",
        "version": "2.0.0+S",
        "description": {
            "$ref": "./docs/general.md"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "x-repository": {
            "url": "https://github.com/FlowPay/client-openapi",
            "contributionGuidelines": "We invite partners to suggest changes by forking the repository and submitting a pull request."
        }
    },
    "servers": [
        {
            "url": "https://api.flowpay.it/v2",
            "description": "Production server"
        },
        {
            "url": "https://api.sandbox.flowpay.it/v2",
            "description": "Shared sandbox server for testing and development. Data is reset periodically, so do not use for production data."
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "Banks",
            "description": "Operations related to banks and supported payment methods."
        },
        {
            "name": "Charge",
            "description": "Operations related to charges on tokenised methods."
        },
        {
            "name": "Customers",
            "description": "Operations related to registered customers."
        },
        {
            "name": "Files",
            "description": "Operations related to managing files attached to payments."
        },
        {
            "name": "Payment Method",
            "description": "Operations related to managing tokenised payment methods."
        },
        {
            "name": "Refunds",
            "description": "Operations related to payment refunds"
        },
        {
            "name": "Request To Pay",
            "description": {
                "$ref": "./docs/request_to_pay.md"
            }
        },
        {
            "name": "AIS",
            "description": "Account Information Service: consent, accounts, balances, transactions."
        }
    ],
    "paths": {
        "/banks": {
            "get": {
                "summary": "Get banks",
                "description": "Retrieve the list of banks supported by FlowPay",
                "operationId": "getBanks",
                "security": [],
                "tags": [
                    "Banks"
                ],
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Country code (ISO 3166-1 alpha-2) to filter banks by country",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-faker": "address.countryCode",
                        "example": "IT"
                    },
                    {
                        "name": "recurring",
                        "in": "query",
                        "description": "Filter banks that support at least one recurring payment type",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "recurringFrequency",
                        "in": "query",
                        "description": "Filter banks that support the specified recurring payment frequency",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "monthly",
                                    "everyTwoMonths",
                                    "quarterly",
                                    "semiAnnual",
                                    "daily",
                                    "everyFourMonths",
                                    "weekly",
                                    "everyTwoWeeks",
                                    "annual"
                                ]
                            }
                        }
                    },
                    {
                        "name": "sctType",
                        "in": "query",
                        "description": "Filter banks that support the specified SCT type",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "standard",
                                    "instant"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of banks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Bank"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                }
            }
        },
        "/banks/{id}": {
            "get": {
                "summary": "Get bank details",
                "description": "Retrieve details of a specific bank",
                "operationId": "getBank",
                "security": [],
                "tags": [
                    "Banks"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Bank identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "cassa_di_risparmio_di_orvieto"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bank details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bank"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/charges": {
            "get": {
                "summary": "List all payment requests",
                "description": "Returns a paginated list of all created payment requests.",
                "operationId": "listCharges",
                "tags": [
                    "Charge"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        },
                        "description": "Maximum number of items per page."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        },
                        "description": "Number of items to skip."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of payment requests.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Charge"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "post": {
                "summary": "Create a charge",
                "description": "Creates a charge using a tokenized payment method. This endpoint is also used to release funds from a locked payment by charging the dedicated technical payment method of type `locked`. In that case the amount is implicit in the locked token and equals the original locked amount.",
                "operationId": "createCharge",
                "tags": [
                    "Charge"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "description": "Object containing charge details or, for locked flows, the release details for a dedicated technical payment method.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "tokenId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "ID of the tokenized payment method to use for the charge. For locked flows, this is the dedicated technical payment method exposed once the initial collection has been reconciled."
                                    },
                                    "payee": {
                                        "description": "Information about the payment payee. For locked-payment release, use this field only when the final payout destination was not already available at creation time.",
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/PhoneNumber"
                                            },
                                            {
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "UUID of the payee customer."
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "description": "Name of the payee."
                                                    },
                                                    "iban": {
                                                        "description": "IBAN of the payee's account.",
                                                        "$ref": "#/components/schemas/IBAN"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "iban"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "tokenId"
                                ],
                                "oneOf": [
                                    {
                                        "title": "Existing payment request",
                                        "properties": {
                                            "paymentRequestId": {
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "UUID of the existing payment request to charge."
                                            }
                                        },
                                        "required": [
                                            "paymentRequestId"
                                        ]
                                    },
                                    {
                                        "title": "New operation",
                                        "type": "object",
                                        "properties": {
                                            "debtor": {
                                                "description": "Information about the actual debtor of the payment. If not provided, the customer associated with the provided payment method is used.",
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/ConsumerTIN"
                                                    },
                                                    {
                                                        "$ref": "#/components/schemas/BusinessTIN"
                                                    },
                                                    {
                                                        "title": "UUID of the debtor customer.",
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "description": "UUID of the debtor customer."
                                                    }
                                                ]
                                            },
                                            "privateAttachments": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "description": "Unique file identifier."
                                                },
                                                "description": "List of UUIDs of files attached to the payment that are visible only to FlowPay for compliance checks. These files are not shown to the payer during the payment process."
                                            },
                                            "remittanceInformation": {
                                                "type": "string",
                                                "minLength": 5,
                                                "maxLength": 100,
                                                "description": "Remittance information for the payment, visible to the payer and to the payee upon credit to the account."
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Email address to which the payment receipt will be sent. Mandatory for PagoPA."
                                            },
                                            "callbackUrl": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "Single callback URL for the charge."
                                            }
                                        },
                                        "oneOf": [
                                            {
                                                "title": "Standard payment",
                                                "properties": {
                                                    "amount": {
                                                        "type": "number",
                                                        "format": "decimal",
                                                        "minimum": 0.01,
                                                        "description": "Payment amount as a decimal (e.g. 10.50)."
                                                    },
                                                    "payee": {
                                                        "description": "Information about the payment payee. If not specified, the partner associated with the client and the IBAN configured for the client are used by default.",
                                                        "oneOf": [
                                                            {
                                                                "$ref": "#/components/schemas/PhoneNumber"
                                                            },
                                                            {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "description": "UUID of the payee customer."
                                                            },
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string",
                                                                        "description": "Name of the payee."
                                                                    },
                                                                    "iban": {
                                                                        "description": "IBAN of the payee's account.",
                                                                        "$ref": "#/components/schemas/IBAN"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name",
                                                                    "iban"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "additionalPayees": {
                                                        "type": "array",
                                                        "description": "Additional beneficiaries for split/bulk charges.",
                                                        "items": {
                                                            "oneOf": [
                                                                {
                                                                    "type": "object",
                                                                    "title": "Payment to mobile number",
                                                                    "properties": {
                                                                        "amount": {
                                                                            "type": "number",
                                                                            "format": "decimal",
                                                                            "minimum": 0.01
                                                                        },
                                                                        "phoneNumber": {
                                                                            "$ref": "#/components/schemas/PhoneNumber"
                                                                        },
                                                                        "remittanceInformation": {
                                                                            "type": "string",
                                                                            "minLength": 5,
                                                                            "maxLength": 100
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "phoneNumber",
                                                                        "amount"
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "object",
                                                                    "title": "Payment to IBAN",
                                                                    "properties": {
                                                                        "amount": {
                                                                            "type": "number",
                                                                            "format": "decimal",
                                                                            "minimum": 0.01
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "iban": {
                                                                            "$ref": "#/components/schemas/IBAN"
                                                                        },
                                                                        "remittanceInformation": {
                                                                            "type": "string",
                                                                            "minLength": 5,
                                                                            "maxLength": 100
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "iban",
                                                                        "amount"
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "object",
                                                                    "title": "Payment to customer",
                                                                    "properties": {
                                                                        "amount": {
                                                                            "type": "number",
                                                                            "format": "decimal",
                                                                            "minimum": 0.01
                                                                        },
                                                                        "customerId": {
                                                                            "type": "string",
                                                                            "format": "uuid"
                                                                        },
                                                                        "remittanceInformation": {
                                                                            "type": "string",
                                                                            "minLength": 5,
                                                                            "maxLength": 100
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "customerId",
                                                                        "amount"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    }
                                                },
                                                "required": []
                                            },
                                            {
                                                "title": "PagoPA",
                                                "properties": {
                                                    "pagopaEcFiscalCode": {
                                                        "type": "string",
                                                        "description": "Tax code of the entity for PagoPA."
                                                    },
                                                    "pagopaPaymentNotice": {
                                                        "type": "string",
                                                        "description": "PagoPA payment notice code."
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "format": "email",
                                                        "description": "Optional email address to which the payment receipt will be sent."
                                                    }
                                                },
                                                "required": [
                                                    "pagopaEcFiscalCode",
                                                    "pagopaPaymentNotice"
                                                ]
                                            },
                                            {
                                                "title": "Bollo auto",
                                                "properties": {
                                                    "pagopaVehicleType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "car",
                                                            "motorcycle",
                                                            "trailer"
                                                        ],
                                                        "description": "Vehicle type"
                                                    },
                                                    "pagopaPlate": {
                                                        "type": "string",
                                                        "description": "plate"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "format": "email",
                                                        "description": "Optional email address to which the payment receipt will be sent."
                                                    }
                                                },
                                                "required": [
                                                    "pagopaPlate",
                                                    "pagopaVehicleType"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Payment request created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentRequest"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/files": {
            "post": {
                "summary": "Upload a file",
                "description": "Uploads a file and returns the ID of the uploaded file.",
                "operationId": "uploadFile",
                "tags": [
                    "Files"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "The file to upload."
                                    }
                                },
                                "required": [
                                    "file"
                                ]
                            }
                        },
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filename": {
                                        "type": "string",
                                        "description": "File name, including extension suffix, e.g. 'document.pdf'."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "File description to help identify the content."
                                    },
                                    "contentType": {
                                        "type": "string",
                                        "description": "MIME type of the file, e.g. 'application/pdf'."
                                    },
                                    "data": {
                                        "type": "string",
                                        "format": "byte",
                                        "description": "File content encoded in base64."
                                    }
                                },
                                "required": [
                                    "data"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "File uploaded successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "get": {
                "summary": "List uploaded files",
                "description": "Returns a paginated list of uploaded files.",
                "operationId": "listFiles",
                "tags": [
                    "Files"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of uploaded files.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/File"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/files/{fileId}": {
            "get": {
                "summary": "Retrieve an uploaded file",
                "description": "Retrieves the details of an uploaded file specified by ID.",
                "operationId": "getFile",
                "tags": [
                    "Files"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "ID of the file to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the requested file.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Delete an uploaded file",
                "description": "Deletes an uploaded file specified by ID. Deletion is permanent only if the file is not associated with any payment request; otherwise the file is removed from public view but remains available for compliance checks.",
                "operationId": "deleteFile",
                "tags": [
                    "Files"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "ID of the file to delete."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "File deleted successfully."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-requests": {
            "get": {
                "summary": "List all created payment requests",
                "description": "Returns a paginated list of created payment requests. `dateFrom` and `dateTo` can be combined and apply to the request creation timestamp using inclusive bounds. Lifecycle status filtering belongs to payment-session lists and is not supported here.",
                "operationId": "listPaymentRequests",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        },
                        "description": "Maximum number of items per page."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        },
                        "description": "Number of items to skip."
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2026-07-01T00:00:00Z",
                        "description": "Inclusive lower bound for the payment request `createdAt`, encoded as an ISO 8601 date-time (for example, `2026-07-01T00:00:00Z`). Unix timestamps are not supported."
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2026-07-31T23:59:59Z",
                        "description": "Inclusive upper bound for the payment request `createdAt`, encoded as an ISO 8601 date-time (for example, `2026-07-31T23:59:59Z`). Unix timestamps are not supported. Must be greater than or equal to `dateFrom` when both are provided."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of payment requests.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PaymentRequest"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "post": {
                "summary": "Create a new payment request",
                "description": "Endpoint to create a payment request between two parties, specifying payer and payee details.",
                "operationId": "createPaymentRequest",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "description": "Object containing debtor, payee and payment details.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "payer": {
                                        "description": "Information about the payer of the payment. It can be a phone number or a Consumer object.",
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/PhoneNumber"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Consumer"
                                            },
                                            {
                                                "title": "UUID of the paying customer.",
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "UUID of the customer making the payment."
                                            }
                                        ]
                                    },
                                    "debtor": {
                                        "description": "Information about the actual debtor of the payment. If not provided, the value of `payer` is used.",
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/ConsumerTIN"
                                            },
                                            {
                                                "$ref": "#/components/schemas/BusinessTIN"
                                            },
                                            {
                                                "title": "UUID of the debtor customer.",
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "UUID of the debtor customer."
                                            }
                                        ]
                                    },
                                    "ultimateDebtor": {
                                        "type": "string",
                                        "enum": [
                                            "debtor",
                                            "payee",
                                            "payer",
                                            "app",
                                            "anonymous"
                                        ],
                                        "description": {
                                            "$ref": "./docs/ultimate_debtor.md"
                                        },
                                        "default": "debtor"
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Unique identifier of the file attached to the payment."
                                        },
                                        "description": "List of UUIDs of files attached to the payment that will be shown at checkout. These files must have been previously uploaded using the `/files` endpoint."
                                    },
                                    "privateAttachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Unique file identifier."
                                        },
                                        "description": "List of UUIDs of files attached to the payment that are visible only to FlowPay for compliance checks. These files are not shown to the payer during the payment process."
                                    },
                                    "title": {
                                        "type": "string",
                                        "minLength": 3,
                                        "maxLength": 50,
                                        "description": "Short title for the payment. Displayed to the payer during the payment process."
                                    },
                                    "description": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 255,
                                        "description": "Payment description, visible to the payer."
                                    },
                                    "remittanceInformation": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "description": "Remittance information for the payment, visible to the payer and to the payee upon credit to the account."
                                    },
                                    "allowRemittanceChange": {
                                        "type": "boolean",
                                        "default": false,
                                        "description": "Indicates whether the payer can change remittance information during the payment."
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "decimal",
                                        "minimum": 0.01,
                                        "description": "Payment amount as a decimal (e.g. 10.50)."
                                    },
                                    "allowedMethods": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/AllowedMethod"
                                        },
                                        "description": "List of allowed payment technologies for this payment request. If not specified, all available technologies are allowed."
                                    },
                                    "paymentMethod": {
                                        "description": "Payment method selection for the request.",
                                        "$ref": "#/components/schemas/Technology"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Email address to which the payment receipt will be sent. Mandatory for PagoPA."
                                    },
                                    "redirectUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "Redirect URL to which the user is redirected with query parameter `status` which can be `success`, `error` or `cancel`."
                                    },
                                    "callbackUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "Single callback URL for the payment."
                                    }
                                },
                                "required": [],
                                "oneOf": [
                                    {
                                        "title": "Standard payment",
                                        "properties": {
                                            "amount": {
                                                "type": "number",
                                                "format": "decimal",
                                                "minimum": 0.01,
                                                "description": "Payment amount as a decimal (e.g. 10.50)."
                                            },
                                            "payee": {
                                                "description": "Information about the payment payee. If not specified, the partner associated with the client and the IBAN configured for the client are used by default.",
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/PhoneNumber"
                                                    },
                                                    {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "description": "UUID of the payee customer."
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Name of the payee."
                                                            },
                                                            "iban": {
                                                                "description": "IBAN of the payee's account.",
                                                                "$ref": "#/components/schemas/IBAN"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "iban"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "allowPartialPayments": {
                                                "type": "boolean",
                                                "description": "Indicates whether to accept partial payments. If true, `amount` must be set and `additionalPayees` must not be set."
                                            }
                                        },
                                        "required": [],
                                        "allOf": [
                                            {
                                                "if": {
                                                    "title": "Full payment",
                                                    "properties": {
                                                        "allowPartialPayments": {
                                                            "const": false
                                                        }
                                                    }
                                                },
                                                "then": {
                                                    "properties": {
                                                        "additionalPayees": {
                                                            "type": "array",
                                                            "description": "List of additional beneficiaries to whom part of the payment amount can be allocated. The sum of the amounts specified in additionalPayees cannot exceed amount; the difference between amount and the sum of additionalPayees will be sent to the payee. Each item may optionally include remittanceInformation to specify a dedicated reason for the individual payment; if absent, the remittanceInformation from the main request will be used.",
                                                            "items": {
                                                                "oneOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "title": "Payment to mobile number",
                                                                        "description": "Payment to a phone number.",
                                                                        "properties": {
                                                                            "amount": {
                                                                                "type": "number",
                                                                                "format": "decimal",
                                                                                "minimum": 0.01,
                                                                                "description": "Payment amount as a decimal"
                                                                            },
                                                                            "phoneNumber": {
                                                                                "$ref": "#/components/schemas/PhoneNumber"
                                                                            },
                                                                            "remittanceInformation": {
                                                                                "type": "string",
                                                                                "minLength": 5,
                                                                                "maxLength": 100,
                                                                                "description": "Remittance information specific to this payee. If not provided, the `remittanceInformation` from the main request will be used."
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "phoneNumber",
                                                                            "amount"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "type": "object",
                                                                        "title": "Payment to IBAN",
                                                                        "description": "Payment to a payee with an IBAN.",
                                                                        "properties": {
                                                                            "amount": {
                                                                                "type": "number",
                                                                                "format": "decimal",
                                                                                "minimum": 0.01,
                                                                                "description": "Payment amount as a decimal"
                                                                            },
                                                                            "name": {
                                                                                "type": "string",
                                                                                "description": "Name of the payee."
                                                                            },
                                                                            "iban": {
                                                                                "description": "IBAN of the payee's account.",
                                                                                "$ref": "#/components/schemas/IBAN"
                                                                            },
                                                                            "remittanceInformation": {
                                                                                "type": "string",
                                                                                "minLength": 5,
                                                                                "maxLength": 100,
                                                                                "description": "Remittance information specific to this payee. If not provided, the `remittanceInformation` from the main request will be used."
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "iban",
                                                                            "amount"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "title": "Payment to customer",
                                                                        "type": "object",
                                                                        "description": "Payment to a registered customer as an additional payee.",
                                                                        "properties": {
                                                                            "amount": {
                                                                                "type": "number",
                                                                                "format": "decimal",
                                                                                "minimum": 0.01,
                                                                                "description": "Payment amount as a decimal"
                                                                            },
                                                                            "customerId": {
                                                                                "type": "string",
                                                                                "format": "uuid",
                                                                                "description": "UUID of the additional payee customer."
                                                                            },
                                                                            "remittanceInformation": {
                                                                                "type": "string",
                                                                                "minLength": 5,
                                                                                "maxLength": 100,
                                                                                "description": "Remittance information specific to this payee. If not provided, the `remittanceInformation` from the main request will be used."
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "customerId",
                                                                            "amount"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "lockedUntil": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "description": "If set, the request is treated as a locked payment. Funds are routed to FlowPay's technical perimeter until the specified date. Before that date the partner may release the funds to the beneficiary or refund the payer. If no earlier decision is taken, the funds are automatically released to the beneficiary at expiry. See the Locked Payment section for details."
                                                        },
                                                        "savePaymentMethod": {
                                                            "type": "boolean",
                                                            "default": false,
                                                            "description": "Indicates whether to save the payment method for future use."
                                                        }
                                                    }
                                                },
                                                "else": {
                                                    "title": "Partial payment",
                                                    "properties": {
                                                        "amount": {
                                                            "type": "number",
                                                            "format": "decimal",
                                                            "minimum": 0.01,
                                                            "description": "Payment amount as a decimal (e.g. 10.50)."
                                                        }
                                                    },
                                                    "required": [
                                                        "amount"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "title": "PagoPA",
                                        "properties": {
                                            "pagopaEcFiscalCode": {
                                                "type": "string",
                                                "description": "Tax code of the entity for PagoPA."
                                            },
                                            "pagopaPaymentNotice": {
                                                "type": "string",
                                                "description": "PagoPA payment notice code."
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Optional email address to which the payment receipt will be sent."
                                            }
                                        },
                                        "required": [
                                            "pagopaEcFiscalCode",
                                            "pagopaPaymentNotice"
                                        ],
                                        "description": {
                                            "$ref": "./docs/pagopa_lifecycle.md"
                                        }
                                    },
                                    {
                                        "title": "Bollo auto",
                                        "properties": {
                                            "pagopaVehicleType": {
                                                "type": "string",
                                                "enum": [
                                                    "car",
                                                    "motorcycle",
                                                    "trailer"
                                                ],
                                                "description": "Vehicle type"
                                            },
                                            "pagopaPlate": {
                                                "type": "string",
                                                "description": "plate"
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Optional email address to which the payment receipt will be sent."
                                            }
                                        },
                                        "required": [
                                            "pagopaPlate",
                                            "pagopaVehicleType"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Payment request created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentRequest"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-requests/{requestId}": {
            "get": {
                "summary": "Retrieve the status of a payment request",
                "description": "Returns details and status of the specified payment request.<br>The PDF document includes the payment request details and a QR code for mobile opening. If the request has been paid, it also contains the payment information and serves as a receipt.",
                "operationId": "getPaymentRequest",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Identifier of the payment request for which to retrieve the status."
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "application/json",
                                "application/pdf"
                            ],
                            "default": "application/json"
                        },
                        "description": "Specifies the desired response format; use application/pdf to obtain a PDF document."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment request details in JSON, or a PDF document if requested with Accept: application/pdf.<br>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentRequest"
                                }
                            },
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a payment request",
                "description": "Deletes the specified payment request. It can be done only if no payment has been initiated.",
                "operationId": "deletePaymentRequest",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the payment request to delete."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Payment request deleted successfully."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-requests/{requestId}/sessions": {
            "get": {
                "x-convenience": true,
                "summary": "List payment sessions associated with a request",
                "description": "Convenience endpoint: returns the list of payment sessions (attempts) for the specified request. Ideal for hierarchical navigation.",
                "operationId": "listPaymentRequestSessions",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the payment request."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of payment sessions for the request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PaymentSessions"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-sessions": {
            "get": {
                "summary": "List payment sessions with filters",
                "description": "Primary resource for global queries on payment sessions. Supports filters, including requestId to select sessions for a specific request.",
                "operationId": "listPaymentSessions",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        },
                        "description": "Maximum number of items per page."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        },
                        "description": "Number of items to skip."
                    },
                    {
                        "name": "requestId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "ID of the payment request to filter associated sessions."
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created",
                                "inProgress",
                                "authorized",
                                "rejected",
                                "onHold",
                                "locked",
                                "forwarded",
                                "refunded",
                                "deleted"
                            ]
                        },
                        "description": "Payment session status to filter by."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of payment sessions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PaymentSessions"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-methods": {
            "get": {
                "summary": "List all payment methods",
                "description": "Returns a paginated list of tokenised payment methods.",
                "operationId": "listPaymentMethods",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of payment methods.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PaymentMethod"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "post": {
                "summary": "Tokenise a new payment method",
                "description": "<span class='beta-badge'></span><br>Creates a new tokenised payment method for future use.",
                "operationId": "createPaymentMethod",
                "x-beta": true,
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "card",
                                            "bankAccount"
                                        ]
                                    },
                                    "callbackUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "Callback URL for notifications about the payment method status."
                                    },
                                    "customerId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "ID of the customer associated with the payment method. If not specified, the method is associated with the current customer."
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Payment method created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "link": {
                                            "type": "string",
                                            "format": "uri",
                                            "description": "Link to the payment method tokenisation page."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-methods/{paymentMethodId}": {
            "get": {
                "summary": "Retrieve a payment method",
                "description": "Returns the details of a tokenised payment method.",
                "operationId": "getPaymentMethodById",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "paymentMethodId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the payment method."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment method details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentMethod"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a payment method",
                "description": "Removes a tokenised payment method.",
                "operationId": "deletePaymentMethod",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "paymentMethodId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the payment method to delete."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Payment method deleted successfully."
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/customers": {
            "post": {
                "summary": "Create a customer",
                "description": "Registra un customer. Restituisce 201 in caso di creazione o 409 in caso di duplicato.",
                "operationId": "createCustomer",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerCreate"
                            },
                            "examples": {
                                "consumer": {
                                    "value": {
                                        "phoneNumber": "+390000000001",
                                        "name": "Test",
                                        "surname": "Customer",
                                        "tin": "TSTCST00A00A000A",
                                        "email": "test.customer@example.com",
                                        "webhookUrl": "https://example.com/webhook",
                                        "services": [
                                            "srtp"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                },
                                "examples": {
                                    "created": {
                                        "value": {
                                            "id": "1a111111-2222-3333-4444-555555555555",
                                            "createdAt": "2025-10-06T12:00:00Z",
                                            "updatedAt": "2025-10-06T12:30:00Z",
                                            "type": "consumer",
                                            "client": "2b222222-3333-4444-5555-666666666666",
                                            "entity": "3c333333-4444-5555-6666-777777777777",
                                            "phoneNumber": "+390000000001",
                                            "name": "Test",
                                            "surname": "Customer",
                                            "tin": "TSTCST00A00A000A",
                                            "email": "test.customer@example.com",
                                            "address": "Example Street 1, Milano",
                                            "services": [
                                                {
                                                    "service": "srtp"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict (customer already exists)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "List all registered customers",
                "description": "Returns the paginated list of customers, automatically populated when creating a payment request for a consumer or business payer.",
                "operationId": "listCustomers",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of customers.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Customer"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/customers/{customerId}": {
[...]
