{
    "openapi": "3.1.0",
    "info": {
        "title": "Payment Gateway API",
        "version": "2.0.0+S",
        "description": {
            "$ref": "./docs/general.md"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "x-repository": {
            "url": "https://github.com/FlowPay/client-openapi",
            "contributionGuidelines": "We invite partners to suggest changes by forking the repository and submitting a pull request."
        }
    },
    "servers": [
        {
            "url": "https://api.flowpay.it/v2",
            "description": "Production server"
        },
        {
            "url": "https://api.sandbox.flowpay.it/v2",
            "description": "Shared sandbox server for testing and development. Data is reset periodically, so do not use for production data."
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "Banks",
            "description": "Operations related to banks and supported payment methods."
        },
        {
            "name": "Charge",
            "description": "Operations related to charges on tokenised methods."
        },
        {
            "name": "Customers",
            "description": "Operations related to registered customers."
        },
        {
            "name": "Files",
            "description": "Operations related to managing files attached to payments."
        },
        {
            "name": "Payment Method",
            "description": "Operations related to managing tokenised payment methods."
        },
        {
            "name": "Refunds",
            "description": "Operations related to payment refunds"
        },
        {
            "name": "Request To Pay",
            "description": {
                "$ref": "./docs/request_to_pay.md"
            }
        },
        {
            "name": "AIS",
            "description": "Account Information Service: consent, accounts, balances, transactions."
        }
    ],
    "paths": {
        "/banks": {
            "get": {
                "summary": "Get banks",
                "description": "Retrieve the list of banks supported by FlowPay",
                "operationId": "getBanks",
                "security": [],
                "tags": [
                    "Banks"
                ],
                "parameters": [
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Country code (ISO 3166-1 alpha-2) to filter banks by country",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-faker": "address.countryCode",
                        "example": "IT"
                    },
                    {
                        "name": "recurring",
                        "in": "query",
                        "description": "Filter banks that support at least one recurring payment type",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "recurringFrequency",
                        "in": "query",
                        "description": "Filter banks that support the specified recurring payment frequency",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "monthly",
                                    "everyTwoMonths",
                                    "quarterly",
                                    "semiAnnual",
                                    "daily",
                                    "everyFourMonths",
                                    "weekly",
                                    "everyTwoWeeks",
                                    "annual"
                                ]
                            }
                        }
                    },
                    {
                        "name": "sctType",
                        "in": "query",
                        "description": "Filter banks that support the specified SCT type",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "standard",
                                    "instant"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of banks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Bank"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                }
            }
        },
        "/banks/{id}": {
            "get": {
                "summary": "Get bank details",
                "description": "Retrieve details of a specific bank",
                "operationId": "getBank",
                "security": [],
                "tags": [
                    "Banks"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Bank identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "cassa_di_risparmio_di_orvieto"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bank details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Bank"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/charges": {
            "get": {
                "summary": "List all payment requests",
                "description": "Returns a paginated list of all created payment requests.",
                "operationId": "listCharges",
                "tags": [
                    "Charge"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        },
                        "description": "Maximum number of items per page."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        },
                        "description": "Number of items to skip."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of payment requests.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Charge"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "post": {
                "summary": "Create a new payment request",
                "description": "Endpoint to create a payment request between two parties, specifying payer and payee details.",
                "operationId": "createCharge",
                "tags": [
                    "Charge"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "description": "Object containing debtor, payee and payment details.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "paymentMethodId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "ID of the payment method to use for the payment. If not specified, the customer's default payment method is used, if present."
                                    },
                                    "debtor": {
                                        "description": "Information about the actual debtor of the payment. If not provided, the customer associated with the provided payment method is used.",
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/ConsumerTIN"
                                            },
                                            {
                                                "$ref": "#/components/schemas/BusinessTIN"
                                            },
                                            {
                                                "title": "UUID of the debtor customer.",
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "UUID of the debtor customer."
                                            }
                                        ]
                                    },
                                    "ultimateDebtor": {
                                        "type": "string",
                                        "enum": [
                                            "debtor",
                                            "payee",
                                            "payer",
                                            "tenant",
                                            "anonymous"
                                        ],
                                        "description": {
                                            "$ref": "./docs/ultimate_debtor.md"
                                        },
                                        "default": "debtor"
                                    },
                                    "privateAttachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Unique file identifier."
                                        },
                                        "description": "List of UUIDs of files attached to the payment that are visible only to FlowPay for compliance checks. These files are not shown to the payer during the payment process."
                                    },
                                    "remittanceInformation": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "description": "Remittance information for the payment, visible to the payer and to the payee upon credit to the account."
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "decimal",
                                        "minimum": 0.01,
                                        "description": "Payment amount as a decimal (e.g. 10.50)."
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Email address to which the payment receipt will be sent. Mandatory for PagoPA."
                                    }
                                },
                                "required": [],
                                "oneOf": [
                                    {
                                        "title": "Standard payment",
                                        "properties": {
                                            "amount": {
                                                "type": "number",
                                                "format": "decimal",
                                                "minimum": 0.01,
                                                "description": "Payment amount as a decimal (e.g. 10.50)."
                                            },
                                            "payee": {
                                                "description": "Information about the payment payee. If not specified, the partner associated with the client and the IBAN configured for the client are used by default.",
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/PhoneNumber"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Name of the payee."
                                                            },
                                                            "iban": {
                                                                "description": "IBAN of the payee's account.",
                                                                "$ref": "#/components/schemas/IBAN"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "iban"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "lockedUntil": {
                                                "type": "string",
                                                "format": "date-time",
                                                "description": "If set, the funds for this payment are routed to a FlowPay technical account until the specified date. By that date it is possible to release the funds to the payee or refund the payer. If funds remain at expiry, they are automatically refunded to the payer."
                                            }
                                        },
                                        "required": []
                                    },
                                    {
                                        "title": "PagoPA",
                                        "properties": {
                                            "pagopaEcFiscalCode": {
                                                "type": "string",
                                                "description": "Tax code of the entity for PagoPA."
                                            },
                                            "pagopaPaymentNotice": {
                                                "type": "string",
                                                "description": "PagoPA payment notice code."
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Email address to which the payment receipt will be sent. Mandatory for PagoPA."
                                            }
                                        },
                                        "required": [
                                            "pagopaEcFiscalCode",
                                            "pagopaPaymentNotice",
                                            "email"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Payment request created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Charge"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/files": {
            "post": {
                "summary": "Upload a file",
                "description": "Uploads a file and returns the ID of the uploaded file.",
                "operationId": "uploadFile",
                "tags": [
                    "Files"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "The file to upload."
                                    }
                                },
                                "required": [
                                    "file"
                                ]
                            }
                        },
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "filename": {
                                        "type": "string",
                                        "description": "File name, including extension suffix, e.g. 'document.pdf'."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "File description to help identify the content."
                                    },
                                    "contentType": {
                                        "type": "string",
                                        "description": "MIME type of the file, e.g. 'application/pdf'."
                                    },
                                    "data": {
                                        "type": "string",
                                        "format": "byte",
                                        "description": "File content encoded in base64."
                                    }
                                },
                                "required": [
                                    "data"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "File uploaded successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "get": {
                "summary": "List uploaded files",
                "description": "Returns a paginated list of uploaded files.",
                "operationId": "listFiles",
                "tags": [
                    "Files"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of uploaded files.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/File"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/files/{fileId}": {
            "get": {
                "summary": "Retrieve an uploaded file",
                "description": "Retrieves the details of an uploaded file specified by ID.",
                "operationId": "getFile",
                "tags": [
                    "Files"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "ID of the file to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details of the requested file.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/File"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Delete an uploaded file",
                "description": "Deletes an uploaded file specified by ID. Deletion is permanent only if the file is not associated with any payment request; otherwise the file is removed from public view but remains available for compliance checks.",
                "operationId": "deleteFile",
                "tags": [
                    "Files"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "ID of the file to delete."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "File deleted successfully."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-requests": {
            "get": {
                "summary": "List all created payment requests",
                "description": "Returns a paginated list of all created payment requests.",
                "operationId": "listPaymentRequests",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        },
                        "description": "Maximum number of items per page."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        },
                        "description": "Number of items to skip."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of payment requests.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PaymentRequest"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "post": {
                "summary": "Create a new payment request",
                "description": "Endpoint to create a payment request between two parties, specifying payer and payee details.",
                "operationId": "createPaymentRequest",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "description": "Object containing debtor, payee and payment details.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "payer": {
                                        "description": "Information about the payer of the payment. It can be a phone number or a Consumer object.",
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/PhoneNumber"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Consumer"
                                            },
                                            {
                                                "title": "UUID of the paying customer.",
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "UUID of the customer making the payment."
                                            }
                                        ]
                                    },
                                    "debtor": {
                                        "description": "Information about the actual debtor of the payment. If not provided, the value of `payer` is used.",
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/ConsumerTIN"
                                            },
                                            {
                                                "$ref": "#/components/schemas/BusinessTIN"
                                            },
                                            {
                                                "title": "UUID of the debtor customer.",
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "UUID of the debtor customer."
                                            }
                                        ]
                                    },
                                    "ultimateDebtor": {
                                        "type": "string",
                                        "enum": [
                                            "debtor",
                                            "payee",
                                            "payer",
                                            "tenant",
                                            "anonymous"
                                        ],
                                        "description": {
                                            "$ref": "./docs/ultimate_debtor.md"
                                        },
                                        "default": "debtor"
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Unique identifier of the file attached to the payment."
                                        },
                                        "description": "List of UUIDs of files attached to the payment that will be shown at checkout. These files must have been previously uploaded using the `/files` endpoint."
                                    },
                                    "privateAttachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Unique file identifier."
                                        },
                                        "description": "List of UUIDs of files attached to the payment that are visible only to FlowPay for compliance checks. These files are not shown to the payer during the payment process."
                                    },
                                    "title": {
                                        "type": "string",
                                        "minLength": 3,
                                        "maxLength": 50,
                                        "description": "Short title for the payment. Displayed to the payer during the payment process."
                                    },
                                    "description": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 255,
                                        "description": "Payment description, visible to the payer."
                                    },
                                    "allowedMethods": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/PaymentMethodTechnology"
                                        },
                                        "minItems": 1,
                                        "uniqueItems": true,
                                        "description": "Optional list of payment method technologies allowed for this request. When omitted, the gateway forwards every supported method"
                                    },
                                    "remittanceInformation": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "description": "Remittance information for the payment, visible to the payer and to the payee upon credit to the account."
                                    },
                                    "allowRemittanceChange": {
                                        "type": "boolean",
                                        "default": false,
                                        "description": "Indicates whether the payer can change remittance information during the payment."
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "decimal",
                                        "minimum": 0.01,
                                        "description": "Payment amount as a decimal (e.g. 10.50)."
                                    },
                                    "allowedMethods": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/Technologies"
                                        },
                                        "description": "List of allowed payment technologies for this payment request. If not specified, all available technologies are allowed."
                                    },
                                    "paymentMethod": {
                                        "type": "object",
                                        "description": "Payment method selection for the request.`methodId` and `payload` are mutually exclusive, if neither is provided the payer will choose the payment method at checkout.",
                                        "properties": {
                                            "strict": {
                                                "type": "boolean",
                                                "default": false,
                                                "description": "If true, the payer must use this payment method and cannot change it."
                                            },
                                            "technology": {
                                                "$ref": "#/components/schemas/Technologies"
                                            }
                                        },
                                        "required": [
                                            "technology"
                                        ],
                                        "oneOf": [
                                            {
                                                "title": "Use saved payment method",
                                                "properties": {
                                                    "methodId": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "description": "Identifier of the payment method to reuse (e.g. a saved wallet or AIS account)."
                                                    }
                                                },
                                                "description": "Reference a saved payment method by ID."
                                            },
                                            {
                                                "title": "Provide bank account payload",
                                                "properties": {
                                                    "technology": {
                                                        "const": "BankAccount"
                                                    },
                                                    "payload": {
                                                        "$ref": "#/components/schemas/BankAccountPaymentMethodPayload"
                                                    }
                                                }
                                            },
                                            {
                                                "title": "Provide BPay payload",
                                                "properties": {
                                                    "technology": {
                                                        "const": "BPay"
                                                    },
                                                    "payload": {
                                                        "$ref": "#/components/schemas/BPayPaymentMethodPayload"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Email address to which the payment receipt will be sent. Mandatory for PagoPA."
                                    },
                                    "redirectUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "Redirect URL to which the user is redirected with query parameter `status` which can be `success`, `error` or `cancel`."
                                    },
                                    "callbackUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "Single callback URL for the payment."
                                    }
                                },
                                "required": [],
                                "oneOf": [
                                    {
                                        "title": "Standard payment",
                                        "properties": {
                                            "amount": {
                                                "type": "number",
                                                "format": "decimal",
                                                "minimum": 0.01,
                                                "description": "Payment amount as a decimal (e.g. 10.50)."
                                            },
                                            "payee": {
                                                "description": "Information about the payment payee. If not specified, the partner associated with the client and the IBAN configured for the client are used by default.",
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/PhoneNumber"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Name of the payee."
                                                            },
                                                            "iban": {
                                                                "description": "IBAN of the payee's account.",
                                                                "$ref": "#/components/schemas/IBAN"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "iban"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "allowPartialPayments": {
                                                "type": "boolean",
                                                "description": "Indicates whether to accept partial payments. If true, `amount` must be set and `additionalPayees` must not be set."
                                            }
                                        },
                                        "required": [],
                                        "allOf": [
                                            {
                                                "if": {
                                                    "title": "Full payment",
                                                    "properties": {
                                                        "allowPartialPayments": {
                                                            "const": false
                                                        }
                                                    }
                                                },
                                                "then": {
                                                    "properties": {
                                                        "additionalPayees": {
                                                            "type": "array",
                                                            "description": "List of additional beneficiaries to whom part of the payment amount can be allocated. The sum of the amounts specified in additionalPayees cannot exceed amount; the difference between amount and the sum of additionalPayees will be sent to the payee. Each item may optionally include remittanceInformation to specify a dedicated reason for the individual payment; if absent, the remittanceInformation from the main request will be used.",
                                                            "items": {
                                                                "oneOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "title": "Payment to mobile number",
                                                                        "description": "Payment to a phone number.",
                                                                        "properties": {
                                                                            "amount": {
                                                                                "type": "number",
                                                                                "format": "decimal",
                                                                                "minimum": 0.01,
                                                                                "description": "Payment amount as a decimal"
                                                                            },
                                                                            "phoneNumber": {
                                                                                "$ref": "#/components/schemas/PhoneNumber"
                                                                            },
                                                                            "remittanceInformation": {
                                                                                "type": "string",
                                                                                "minLength": 5,
                                                                                "maxLength": 100,
                                                                                "description": "Remittance information specific to this payee. If not provided, the `remittanceInformation` from the main request will be used."
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "phoneNumber",
                                                                            "amount"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "type": "object",
                                                                        "title": "Payment to IBAN",
                                                                        "description": "Payment to a payee with an IBAN.",
                                                                        "properties": {
                                                                            "amount": {
                                                                                "type": "number",
                                                                                "format": "decimal",
                                                                                "minimum": 0.01,
                                                                                "description": "Payment amount as a decimal"
                                                                            },
                                                                            "name": {
                                                                                "type": "string",
                                                                                "description": "Name of the payee."
                                                                            },
                                                                            "iban": {
                                                                                "description": "IBAN of the payee's account.",
                                                                                "$ref": "#/components/schemas/IBAN"
                                                                            },
                                                                            "remittanceInformation": {
                                                                                "type": "string",
                                                                                "minLength": 5,
                                                                                "maxLength": 100,
                                                                                "description": "Remittance information specific to this payee. If not provided, the `remittanceInformation` from the main request will be used."
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "iban"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "title": "Payment to customer",
                                                                        "type": "object",
                                                                        "description": "Payment to a registered customer as an additional payee.",
                                                                        "properties": {
                                                                            "amount": {
                                                                                "type": "number",
                                                                                "format": "decimal",
                                                                                "minimum": 0.01,
                                                                                "description": "Payment amount as a decimal"
                                                                            },
                                                                            "customerId": {
                                                                                "type": "string",
                                                                                "format": "uuid",
                                                                                "description": "UUID of the additional payee customer."
                                                                            },
                                                                            "remittanceInformation": {
                                                                                "type": "string",
                                                                                "minLength": 5,
                                                                                "maxLength": 100,
                                                                                "description": "Remittance information specific to this payee. If not provided, the `remittanceInformation` from the main request will be used."
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "customerId"
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "lockedUntil": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "description": "If set, the funds for this payment are routed to a FlowPay technical account until the specified date. By that date it is possible to release the funds to the payee or refund the payer. If funds remain at expiry, they are automatically refunded to the payer. See the \"Chained/locked flows\" section for details."
                                                        },
                                                        "savePaymentMethod": {
                                                            "type": "boolean",
                                                            "default": false,
                                                            "description": "Indicates whether to save the payment method for future use."
                                                        },
                                                        "executionDate": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "description": "Payment execution date and time in ISO 8601 format. If not provided, the payment is executed immediately."
                                                        }
                                                    }
                                                },
                                                "else": {
                                                    "title": "Partial payment",
                                                    "properties": {
                                                        "amount": {
                                                            "type": "number",
                                                            "format": "decimal",
                                                            "minimum": 0.01,
                                                            "description": "Payment amount as a decimal (e.g. 10.50)."
                                                        }
                                                    },
                                                    "required": [
                                                        "amount"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "title": "PagoPA",
                                        "properties": {
                                            "pagopaEcFiscalCode": {
                                                "type": "string",
                                                "description": "Tax code of the entity for PagoPA."
                                            },
                                            "pagopaPaymentNotice": {
                                                "type": "string",
                                                "description": "PagoPA payment notice code."
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Email address to which the payment receipt will be sent. Mandatory for PagoPA."
                                            }
                                        },
                                        "required": [
                                            "pagopaEcFiscalCode",
                                            "pagopaPaymentNotice",
                                            "email"
                                        ],
                                        "description": {
                                            "$ref": "./docs/pagopa_lifecycle.md"
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Payment request created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentRequest"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-requests/{requestId}": {
            "get": {
                "summary": "Retrieve the status of a payment request",
                "description": "Returns details and status of the specified payment request.<br>The PDF document includes the payment request details and a QR code for mobile opening. If the request has been paid, it also contains the payment information and serves as a receipt.",
                "operationId": "getPaymentRequest",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Identifier of the payment request for which to retrieve the status."
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "application/json",
                                "application/pdf"
                            ],
                            "default": "application/json"
                        },
                        "description": "Specifies the desired response format; use application/pdf to obtain a PDF document."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment request details in JSON, or a PDF document if requested with Accept: application/pdf.<br>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentRequest"
                                }
                            },
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a payment request",
                "description": "Deletes the specified payment request. It can be done only if no payment has been initiated.",
                "operationId": "deletePaymentRequest",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the payment request to delete."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Payment request deleted successfully."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-requests/{requestId}/sessions": {
            "get": {
                "x-convenience": true,
                "summary": "List payment sessions associated with a request",
                "description": "Convenience endpoint: returns the list of payment sessions (attempts) for the specified request. Ideal for hierarchical navigation.",
                "operationId": "listPaymentRequestSessions",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the payment request."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of payment sessions for the request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PaymentSessions"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-sessions": {
            "get": {
                "summary": "List payment sessions with filters",
                "description": "Primary resource for global queries on payment sessions. Supports filters, including requestId to select sessions for a specific request.",
                "operationId": "listPaymentSessions",
                "tags": [
                    "Request To Pay"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        },
                        "description": "Maximum number of items per page."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        },
                        "description": "Number of items to skip."
                    },
                    {
                        "name": "requestId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "ID of the payment request to filter associated sessions."
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "succeeded",
                                "pending",
                                "expired",
                                "failed",
                                "cancelled"
                            ]
                        },
                        "description": "Payment session status to filter by."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of payment sessions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PaymentSessions"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-methods": {
            "get": {
                "summary": "List all payment methods",
                "description": "Returns a paginated list of tokenised payment methods.",
                "operationId": "listPaymentMethods",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of payment methods.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PaymentMethod"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "post": {
                "summary": "Tokenise a new payment method",
                "description": "<span class='beta-badge'></span><br>Creates a new tokenised payment method for future use.",
                "operationId": "createPaymentMethod",
                "x-beta": true,
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "card",
                                            "bankAccount"
                                        ]
                                    },
                                    "callbackUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "Callback URL for notifications about the payment method status."
                                    },
                                    "customerId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "ID of the customer associated with the payment method. If not specified, the method is associated with the current customer."
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Payment method created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "link": {
                                            "type": "string",
                                            "format": "uri",
                                            "description": "Link to the payment method tokenisation page."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-methods/{paymentMethodId}": {
            "get": {
                "summary": "Retrieve a payment method",
                "description": "Returns the details of a tokenised payment method.",
                "operationId": "getPaymentMethodById",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "paymentMethodId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the payment method."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment method details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentMethod"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a payment method",
                "description": "Removes a tokenised payment method.",
                "operationId": "deletePaymentMethod",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "paymentMethodId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the payment method to delete."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Payment method deleted successfully."
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/customers": {
            "post": {
                "summary": "Start KYC",
                "description": "Start KYC process for the current user",
                "operationId": "startKyc",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "description": "KYC request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "redirectURL": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "URL where the user will be redirected after the KYC process is completed. If not specified, user will be redirected to the `/kyc/:identifier` endpoint wich will return the KYC data in JSON format.",
                                        "x-faker": "internet.url"
                                    },
                                    "canLogin": {
                                        "type": "boolean",
                                        "description": "If true, the user will be able to login using one of the supported identity providers and other information that FlowPay has about the user will be used to pre-fill the KYC data. If false, the user must provide all the required information even if FlowPay already has it.",
                                        "default": false
                                    },
                                    "flow": {
                                        "type": "string",
                                        "description": "Flow to be used for the KYC process. If not specified, user will be able to choose the flow.",
                                        "enum": [
                                            "consumer",
                                            "business"
                                        ]
                                    },
                                    "consumer": {
                                        "type": "object",
                                        "description": "Consumer data to be used to pre-fill the KYC",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "description": "Consumer name",
                                                "x-faker": "person.firstName"
                                            },
                                            "surname": {
                                                "type": "string",
                                                "description": "Consumer surname",
                                                "x-faker": "person.lastName"
                                            },
                                            "tin": {
                                                "$ref": "#/components/schemas/ConsumerTIN"
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Consumer email address",
                                                "x-faker": "internet.email"
                                            },
                                            "phone": {
                                                "type": "string",
                                                "format": "phone",
                                                "description": "Consumer phone number",
                                                "x-faker": "phone.phoneNumber"
                                            },
                                            "address": {
                                                "type": "string",
                                                "description": "Consumer address",
                                                "x-faker": "address.streetAddress"
                                            },
                                            "birthDate": {
                                                "type": "string",
                                                "format": "datetime",
                                                "description": "Consumer birth date",
                                                "x-faker": "date.past"
                                            },
                                            "birthPlace": {
                                                "type": "string",
                                                "description": "Consumer birth place",
                                                "x-faker": "address.city"
                                            },
                                            "iban": {
                                                "type": "string",
                                                "description": "Consumer IBAN. If provided, FlowPay will use it to pre-validate ownership of the account, if autonomous IBAN check is not possibile, the IBAN will be used to find the bank where the account is held and the user will be asked to perform a Strong Customer Authentication with the bank.",
                                                "x-faker": "finance.iban"
                                            },
                                            "bank": {
                                                "type": "string",
                                                "description": "FlowPay identifier of the bank where the consumer holds the account. If provided, FlowPay will use it suggest the bank to the user during the Strong Customer Authentication process.<br> The identifier can be retrieved using the `/banks` endpoint.",
                                                "example": "Intesa Sanpaolo"
                                            }
                                        }
                                    },
                                    "company": {
                                        "type": "object",
                                        "description": "Company data to be used to pre-fill the KYC",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "description": "Company name",
                                                "x-faker": "company.companyName"
                                            },
                                            "tin": {
                                                "$ref": "#/components/schemas/BusinessTIN"
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "Company country",
                                                "x-faker": "address.country"
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Company email address",
                                                "x-faker": "internet.email"
                                            },
                                            "certifiedEmail": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Company certified email address",
                                                "x-faker": "internet.email"
                                            },
                                            "phone": {
                                                "type": "string",
                                                "format": "phone",
                                                "description": "Company phone number",
                                                "x-faker": "phone.phoneNumber"
                                            },
                                            "address": {
                                                "type": "string",
                                                "description": "Company address",
                                                "x-faker": "address.streetAddress"
                                            },
                                            "iban": {
                                                "type": "string",
                                                "description": "Company IBAN. If provided, FlowPay will use it to pre-validate ownership of the account, if autonomous IBAN check is not possibile, the IBAN will be used to find the bank where the account is held and the user will be asked to perform a Strong Customer Authentication with the bank.",
                                                "x-faker": "finance.iban"
                                            },
                                            "bank": {
                                                "type": "string",
                                                "description": "FlowPay identifier of the bank where the company holds the account. If provided, FlowPay will use it suggest the bank to the user during the Strong Customer Authentication process.<br> The identifier can be retrieved using the `/banks` endpoint.",
                                                "example": "Intesa Sanpaolo"
                                            }
                                        }
                                    }
                                },
                                "required": []
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "KYC started",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                }
            },
            "get": {
                "summary": "List all registered customers",
                "description": "Returns the paginated list of customers, automatically populated when creating a payment request for a consumer or business payer.",
                "operationId": "listCustomers",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of customers.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Customer"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/customers/{customerId}": {
            "get": {
                "summary": "Retrieve customer details",
                "description": "Returns the details of a specific customer by UUID.",
                "operationId": "getCustomerById",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the customer to retrieve."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customer details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a customer",
                "description": "Deletes the specified customer and the associated payment methods.",
                "operationId": "deleteCustomer",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID of the customer to delete."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Customer and associated payment methods deleted successfully."
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/refunds": {
            "get": {
                "summary": "List all created refunds",
                "description": "Returns a paginated list of refunds created (one per payment session).",
                "operationId": "listRefunds",
                "tags": [
                    "Refunds"
                ],
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of refunds.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Refund"
[...]
