{
    "openapi": "3.1.0",
    "info": {
        "title": "Payment Gateway API",
        "version": "2.0.0+S",
        "description": {
            "$ref": "./docs/general.md"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "https://api.flowpay.it/v3",
            "description": "Server di produzione"
        }
    ],
    "security": [
        {
            "basicAuth": []
        }
    ],
    "tags": [
        {
            "name": "Request To Pay",
            "description": "Operazioni relative alla creazione e gestione di richieste di pagamento."
        },
        {
            "name": "Payment Method",
            "description": "Operazioni relative alla gestione dei metodi di pagamento tokenizzati."
        },
        {
            "name": "Payments",
            "description": "Operazioni di pagamento generiche come rimborsi e transazioni."
        },
        {
            "name": "Wallet",
            "description": "Operazioni relative al wallet del cliente e gestione dei fondi."
        },
        {
            "name": "Customers",
            "description": "Operazioni relative ai clienti registrati."
        }
    ],
    "paths": {
        "/payment-requests": {
            "get": {
                "summary": "Elenca tutte le richieste di pagamento create",
                "description": "Restituisce un elenco paginato di tutte le richieste di pagamento create.",
                "operationId": "listPaymentRequests",
                "tags": [
                    "Request To Pay",
                    "Payments"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        },
                        "description": "Numero massimo di elementi per pagina."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        },
                        "description": "Numero di elementi da saltare."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Elenco paginato delle richieste di pagamento.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PaymentRequest"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "post": {
                "summary": "Crea una nuova richiesta di pagamento",
                "description": "Endpoint per creare una richiesta di pagamento tra due attori, specificando dati di pagatore e beneficiario.",
                "operationId": "createPaymentRequest",
                "tags": [
                    "Request To Pay",
                    "Payments"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "requestBody": {
                    "description": "Oggetto contenente informazioni su debitore, creditore e dettagli di pagamento.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "payer": {
                                        "description": "Informazioni sul payer del pagamento. Può essere un numero di telefono o un oggetto Consumer.",
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/PhoneNumber"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Consumer"
                                            },
                                            {
                                                "title": "UUID del customer pagatore.",
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "UUID del customer che effettua il pagamento."
                                            }
                                        ]
                                    },
                                    "debtor": {
                                        "description": "Informazioni sul debitore effettivo del pagamento. Se non valorizzato, verrà utilizzato il valore di `payer`.",
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/ConsumerTIN"
                                            },
                                            {
                                                "$ref": "#/components/schemas/BusinessTIN"
                                            },
                                            {
                                                "title": "UUID del customer debitore.",
                                                "type": "string",
                                                "format": "uuid",
                                                "description": "UUID del customer debitore."
                                            }
                                        ]
                                    },
                                    "ultimateDebtor": {
                                        "type": "string",
                                        "enum": [
                                            "debtor",
                                            "payee",
                                            "payer",
                                            "tenant",
                                            "anonymous"
                                        ],
                                        "description": {
                                            "$ref": "./docs/description_ultimate_debtor.md"
                                        },
                                        "default": "debtor"
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Identificativo univoco del file allegato al pagamento."
                                        },
                                        "description": "Elenco di UUID dei file allegati al pagamento che verranno mostrati nel checkout. Questi file devono essere stati precedentemente caricati utilizzando l'endpoint `/files`."
                                    },
                                    "privateAttachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "uuid",
                                            "description": "Identificativo univoco del file."
                                        },
                                        "description": "Elenco di UUID dei file allegati al pagamento che saranno visibili solo a FlowPay per i controlli di conformità. Questi file non saranno mostrati al pagatore durante il processo di pagamento."
                                    },
                                    "title": {
                                        "type": "string",
                                        "minLength": 3,
                                        "maxLength": 50,
                                        "description": "Titolo esemplicativo del pagamento. Verrà mostrato al pagatore durante il processo di pagamento."
                                    },
                                    "description": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 255,
                                        "description": "Descrizione del pagamento, visibile al pagatore."
                                    },
                                    "remittanceInformation": {
                                        "type": "string",
                                        "minLength": 5,
                                        "maxLength": 100,
                                        "description": "Informazioni di rimessa per il pagamento, visibili al pagatore e al beneficiario all'accredito sul conto."
                                    },
                                    "allowRemittanceChange": {
                                        "type": "boolean",
                                        "default": false,
                                        "description": "Indica se il pagatore può modificare le informazioni di rimessa durante il pagamento."
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Indirizzo email a cui verrà inviata la ricevuta del pagamento. Obbligatorio nel caso di PagoPA."
                                    },
                                    "redirectUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "URL di redirect a cui l'utente verrà reindirizzato con query parameter status che può valere `success`, `error` o `cancel`."
                                    },
                                    "callbackUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "URL di callback singolo per il pagamento."
                                    }
                                },
                                "required": [],
                                "oneOf": [
                                    {
                                        "title": "Pagamento standard",
                                        "properties": {
                                            "amount": {
                                                "type": "number",
                                                "format": "decimal",
                                                "minimum": 0.01,
                                                "description": "Importo del pagamento in formato decimale (es. 10.50)."
                                            },
                                            "payee": {
                                                "description": "Informazioni sul payee del pagamento. Se non specificato, di default verrà utilizzato il partner associato al client e l'IBAN configurato per il client.",
                                                "oneOf": [
                                                    {
                                                        "$ref": "#/components/schemas/PhoneNumber"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Nome del beneficiario."
                                                            },
                                                            "iban": {
                                                                "description": "IBAN del conto del beneficiario.",
                                                                "$ref": "#/components/schemas/IBAN"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "iban"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "allowPartialPayments": {
                                                "type": "boolean",
                                                "description": "Indica se accettare pagamenti parziali. Se true, `amount` deve essere valorizzato e `additionalPayees` non deve essere valorizzato."
                                            }
                                        },
                                        "required": [],
                                        "allOf": [
                                            {
                                                "if": {
                                                    "title": "Pagamento intero",
                                                    "properties": {
                                                        "allowPartialPayments": {
                                                            "const": false
                                                        }
                                                    }
                                                },
                                                "then": {
                                                    "properties": {
                                                        "additionalPayees": {
                                                            "type": "array",
                                                            "description": "Elenco di beneficiari aggiuntivi a cui destinare parte dell'importo del pagamento. La somma degli importi specificati in `additionalPayees` non può essere maggiore di `amount`; la differenza tra `amount` e la somma degli `additionalPayees` verrà inviata al `payee`.",
                                                            "items": {
                                                                "oneOf": [
                                                                    {
                                                                        "type": "object",
                                                                        "title": "Pagamento verso cellulare",
                                                                        "description": "Pagamento a un numero di telefono.",
                                                                        "properties": {
                                                                            "amount": {
                                                                                "type": "number",
                                                                                "format": "decimal",
                                                                                "minimum": 0.01,
                                                                                "description": "Importo del pagamento in formato decimal"
                                                                            },
                                                                            "phoneNumber": {
                                                                                "$ref": "#/components/schemas/PhoneNumber"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "phoneNumber",
                                                                            "amount"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "type": "object",
                                                                        "title": "Pagamento verso IBAN",
                                                                        "description": "Pagamento a un beneficiario con IBAN.",
                                                                        "properties": {
                                                                            "amount": {
                                                                                "type": "number",
                                                                                "format": "decimal",
                                                                                "minimum": 0.01,
                                                                                "description": "Importo del pagamento in formato decimal"
                                                                            },
                                                                            "name": {
                                                                                "type": "string",
                                                                                "description": "Nome del beneficiario."
                                                                            },
                                                                            "iban": {
                                                                                "description": "IBAN del conto del beneficiario.",
                                                                                "$ref": "#/components/schemas/IBAN"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "iban"
                                                                        ]
                                                                    },
                                                                    {
                                                                        "title": "Pagamento verso customer",
                                                                        "type": "string",
                                                                        "format": "uuid",
                                                                        "description": "UUID del customer da utilizzare come payee addizionale."
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "lockedUntil": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "description": "Se valorizzato, i fondi di questo pagamento verranno dirottati su un conto tecnico FlowPay fino alla data specificata. Entro tale data sarà possibile sbloccare i fondi verso il payee o restituirli al payer. Se i fondi saranno ancora presenti alla scadenza, verranno restituiti automaticamente al payer."
                                                        },
                                                        "savePaymentMethod": {
                                                            "type": "boolean",
                                                            "default": false,
                                                            "description": "Indica se salvare il metodo di pagamento per futuri utilizzi."
                                                        },
                                                        "executionDate": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "description": "Data e ora di esecuzione del pagamento in formato ISO 8601. Se non valorizzato, il pagamento verrà eseguito immediatamente."
                                                        }
                                                    }
                                                },
                                                "else": {
                                                    "title": "Pagamento parziale",
                                                    "required": [
                                                        "amount"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "title": "PagoPA",
                                        "properties": {
                                            "pagopaEcFiscalCode": {
                                                "type": "string",
                                                "description": "Codice fiscale della persona per PagoPA."
                                            },
                                            "pagopaPaymentNotice": {
                                                "type": "string",
                                                "description": "Codice di avviso pagamento PagoPA."
                                            }
                                        },
                                        "required": [
                                            "pagopaEcFiscalCode",
                                            "pagopaPaymentNotice",
                                            "email"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Richiesta di pagamento creata con successo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentRequest"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-requests/{requestId}": {
            "get": {
                "summary": "Recupera lo stato di una richiesta di pagamento",
                "description": "Restituisce dettagli e stato della richiesta di pagamento specificata.<br>Il documento PDF che include i dettagli della richiesta di pagamento e un QR code per apertura mobile. Se la richiesta è stata pagata, contiene anche le informazioni di pagamento e funge da ricevuta.",
                "operationId": "getPaymentRequest",
                "tags": [
                    "Request To Pay",
                    "Payments"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Identificativo della richiesta di pagamento di cui recuperare lo stato."
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "application/json",
                                "application/pdf"
                            ],
                            "default": "application/json"
                        },
                        "description": "Specifica il formato di risposta desiderato; usare application/pdf per ottenere un documento PDF."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dettagli della richiesta di pagamento in JSON o documento PDF se richiesto con Accept: application/pdf.<br>",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentRequest"
                                }
                            },
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Cancella una richiesta di pagamento",
                "description": "Cancella la richiesta di pagamento specificata. Può essere fatta solo se non è stato avviato alcun pagamento.",
                "operationId": "deletePaymentRequest",
                "tags": [
                    "Request To Pay",
                    "Payments"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID della richiesta di pagamento da cancellare."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Richiesta di pagamento cancellata con successo."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-requests/{requestId}/sessions": {
            "get": {
                "x-convenience": true,
                "summary": "Elenca le sessioni di pagamento associate a una richiesta",
                "description": "Convenience endpoint: restituisce l'elenco delle sessioni di pagamento (tentativi) per la richiesta specificata. Ideale per navigazione gerarchica.",
                "operationId": "listPaymentRequestSessions",
                "tags": [
                    "Request To Pay",
                    "Payments"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID della richiesta di pagamento."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Elenco delle sessioni di pagamento per la richiesta.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PaymentSessions"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-sessions": {
            "get": {
                "summary": "Elenca le sessioni di pagamento con filtri",
                "description": "Risorsa principale per query globale sulle sessioni di pagamento. Supporta filtri, incluso requestId per selezionare le sessioni di una specifica richiesta.",
                "operationId": "listPaymentSessions",
                "tags": [
                    "Payments"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20
                        },
                        "description": "Numero massimo di elementi per pagina."
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        },
                        "description": "Numero di elementi da saltare."
                    },
                    {
                        "name": "requestId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "ID della richiesta di pagamento per filtrare le sessioni associate."
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "succeeded",
                                "pending",
                                "expired",
                                "failed",
                                "cancelled"
                            ]
                        },
                        "description": "Stato della sessione di pagamento da filtrare."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Elenco paginato delle sessioni di pagamento.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PaymentSessions"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-methods": {
            "get": {
                "summary": "Elenca tutti i metodi di pagamento",
                "description": "Restituisce un elenco paginato dei metodi di pagamento tokenizzati.",
                "operationId": "listPaymentMethods",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Elenco paginato dei metodi di pagamento.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/PaymentMethod"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "post": {
                "summary": "Tokenizza un nuovo metodo di pagamento",
                "description": "<span class='beta-badge'></span><br>Crea un nuovo metodo di pagamento tokenizzato per futuri utilizzi.",
                "operationId": "createPaymentMethod",
                "x-beta": true,
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "card",
                                            "bankAccount"
                                        ]
                                    },
                                    "callbackUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "URL di callback per notifiche sullo stato del metodo di pagamento."
                                    },
                                    "customerId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "ID del cliente associato al metodo di pagamento. Se non specificato, il metodo sarà associato al cliente corrente."
                                    }
                                },
                                "required": [
                                    "type"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Metodo di pagamento creato con successo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "link": {
                                            "type": "string",
                                            "format": "uri",
                                            "description": "Link alla pagina di tokenizzazione del metodo di pagamento."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/payment-methods/{paymentMethodId}": {
            "get": {
                "summary": "Recupera un metodo di pagamento",
                "description": "Restituisce i dettagli di un metodo di pagamento tokenizzato.",
                "operationId": "getPaymentMethodById",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "paymentMethodId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID del metodo di pagamento."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dettagli del metodo di pagamento.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentMethod"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "put": {
                "summary": "Aggiorna un metodo di pagamento",
                "description": "Aggiorna i metadati di un metodo di pagamento tokenizzato.",
                "operationId": "updatePaymentMethod",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "paymentMethodId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID del metodo di pagamento."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "enabled": {
                                        "type": "boolean",
                                        "description": "Flag per abilitare o disabilitare il metodo."
                                    }
                                },
                                "required": [
                                    "enabled"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Metodo di pagamento aggiornato con successo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentMethod"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Elimina un metodo di pagamento",
                "description": "Rimuove un metodo di pagamento tokenizzato.",
                "operationId": "deletePaymentMethod",
                "tags": [
                    "Payment Method"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "paymentMethodId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID del metodo di pagamento da eliminare."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Metodo di pagamento eliminato con successo."
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/customers": {
            "post": {
                "summary": "Start KYC",
                "description": "Start KYC process for the current user",
                "operationId": "startKyc",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "basicAuth": [
                            "kyc"
                        ]
                    }
                ],
                "requestBody": {
                    "description": "KYC request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "redirectURL": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "URL where the user will be redirected after the KYC process is completed. If not specified, user will be redirected to the `/kyc/:identifier` endpoint wich will return the KYC data in JSON format.",
                                        "x-faker": "internet.url"
                                    },
                                    "canLogin": {
                                        "type": "boolean",
                                        "description": "If true, the user will be able to login using one of the supported identity providers and other information that FlowPay has about the user will be used to pre-fill the KYC data. If false, the user must provide all the required information even if FlowPay already has it.",
                                        "default": false
                                    },
                                    "flow": {
                                        "type": "string",
                                        "description": "Flow to be used for the KYC process. If not specified, user will be able to choose the flow.",
                                        "enum": [
                                            "consumer",
                                            "business"
                                        ]
                                    },
                                    "consumer": {
                                        "type": "object",
                                        "description": "Consumer data to be used to pre-fill the KYC",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "description": "Consumer name",
                                                "x-faker": "person.firstName"
                                            },
                                            "surname": {
                                                "type": "string",
                                                "description": "Consumer surname",
                                                "x-faker": "person.lastName"
                                            },
                                            "tin": {
                                                "$ref": "#/components/schemas/ConsumerTIN"
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Consumer email address",
                                                "x-faker": "internet.email"
                                            },
                                            "phone": {
                                                "type": "string",
                                                "format": "phone",
                                                "description": "Consumer phone number",
                                                "x-faker": "phone.phoneNumber"
                                            },
                                            "address": {
                                                "type": "string",
                                                "description": "Consumer address",
                                                "x-faker": "address.streetAddress"
                                            },
                                            "birthDate": {
                                                "type": "string",
                                                "format": "datetime",
                                                "description": "Consumer birth date",
                                                "x-faker": "date.past"
                                            },
                                            "birthPlace": {
                                                "type": "string",
                                                "description": "Consumer birth place",
                                                "x-faker": "address.city"
                                            },
                                            "iban": {
                                                "type": "string",
                                                "description": "Consumer IBAN. If provided, FlowPay will use it to pre-validate ownership of the account, if autonomous IBAN check is not possibile, the IBAN will be used to find the bank where the account is held and the user will be asked to perform a Strong Customer Authentication with the bank.",
                                                "x-faker": "finance.iban"
                                            },
                                            "bank": {
                                                "type": "string",
                                                "description": "FlowPay identifier of the bank where the consumer holds the account. If provided, FlowPay will use it suggest the bank to the user during the Strong Customer Authentication process.<br> The identifier can be retrieved using the `/banks` endpoint.",
                                                "example": "Intesa Sanpaolo"
                                            }
                                        }
                                    },
                                    "company": {
                                        "type": "object",
                                        "description": "Company data to be used to pre-fill the KYC",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "description": "Company name",
                                                "x-faker": "company.companyName"
                                            },
                                            "tin": {
                                                "$ref": "#/components/schemas/BusinessTIN"
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "Company country",
                                                "x-faker": "address.country"
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Company email address",
                                                "x-faker": "internet.email"
                                            },
                                            "certifiedEmail": {
                                                "type": "string",
                                                "format": "email",
                                                "description": "Company certified email address",
                                                "x-faker": "internet.email"
                                            },
                                            "phone": {
                                                "type": "string",
                                                "format": "phone",
                                                "description": "Company phone number",
                                                "x-faker": "phone.phoneNumber"
                                            },
                                            "address": {
                                                "type": "string",
                                                "description": "Company address",
                                                "x-faker": "address.streetAddress"
                                            },
                                            "iban": {
                                                "type": "string",
                                                "description": "Company IBAN. If provided, FlowPay will use it to pre-validate ownership of the account, if autonomous IBAN check is not possibile, the IBAN will be used to find the bank where the account is held and the user will be asked to perform a Strong Customer Authentication with the bank.",
                                                "x-faker": "finance.iban"
                                            },
                                            "bank": {
                                                "type": "string",
                                                "description": "FlowPay identifier of the bank where the company holds the account. If provided, FlowPay will use it suggest the bank to the user during the Strong Customer Authentication process.<br> The identifier can be retrieved using the `/banks` endpoint.",
                                                "example": "Intesa Sanpaolo"
                                            }
                                        }
                                    }
                                },
                                "required": []
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "KYC started",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                }
            },
            "get": {
                "summary": "Elenca tutti i clienti registrati",
                "description": "Restituisce l'elenco paginato dei clienti, popolati automaticamente alla creazione di una richiesta di pagamento per payer consumer o business.",
                "operationId": "listCustomers",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Elenco paginato dei clienti.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Customer"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/customers/{customerId}": {
            "get": {
                "summary": "Recupera il dettaglio di un cliente",
                "description": "Restituisce i dettagli di un cliente specifico per UUID.",
                "operationId": "getCustomerById",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID del cliente da recuperare."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dettagli del cliente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "delete": {
                "summary": "Elimina un cliente",
                "description": "Elimina il cliente specificato e i metodi di pagamento associati.",
                "operationId": "deleteCustomer",
                "tags": [
                    "Customers"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID del cliente da eliminare."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Cliente e metodo di pagamento associato eliminati con successo."
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/refunds": {
            "get": {
                "summary": "Elenca tutti i rimborsi creati",
                "description": "Restituisce un elenco paginato dei rimborsi creati (uno per sessione di pagamento).",
                "operationId": "listRefunds",
                "tags": [
                    "Refunds"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/LimitParam"
                    },
                    {
                        "$ref": "#/components/parameters/OffsetParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Elenco paginato dei rimborsi.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/PaginatedResult"
                                        },
                                        {
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Refund"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            },
            "post": {
                "summary": "Crea un rimborso",
                "description": "Effettua un rimborso per una sessione di pagamento specificata. Il rimborso può essere parziale o totale, a seconda dell'importo specificato. In ogni caso, l'importo del rimborso non può superare l'importo della sessione di pagamento.<br>Il rimborso viene accredito sul metodo di pagamento utilizzato nella sessione di pagamento originale.",
                "operationId": "createRefund",
                "tags": [
                    "Refunds"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sessionId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "ID della sessione di pagamento per cui creare il rimborso."
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "decimal",
                                        "minimum": 0.01,
                                        "description": "Importo del rimborso in formato decimale (es. 10.50). Deve essere minore o uguale all'importo della sessione di pagamento."
                                    },
                                    "reason": {
                                        "$ref": "#/components/schemas/RefundReason"
                                    }
                                },
                                "required": [
                                    "sessionId",
                                    "amount",
                                    "reason"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Rimborso creato.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Refund"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        },
        "/refunds/{refundId}": {
            "get": {
                "summary": "Recupera un rimborso",
                "description": "Restituisce i dettagli di un rimborso. È possibile richiedere la risposta in formato PDF, in questo caso verrà prodotto un documento che include i dettagli del rimborso che può essere utilizzato come attestazione del rimborso.",
                "operationId": "getRefundById",
                "tags": [
                    "Refunds"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "refundId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "UUID del rimborso."
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "application/json",
                                "application/pdf"
                            ],
                            "default": "application/json"
                        },
                        "description": "Specifica il formato di risposta; usare application/pdf per ottenere un documento PDF con QR code e dettagli del rimborso."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dettagli del rimborso in JSON o documento PDF se richiesto con Accept: application/pdf.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Refund"
                                }
                            },
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        }
    },
    "webhooks": {
        "paymentWebhook": {
            "post": {
                "summary": "Endpoint per webhook di aggiornamento pagamento",
                "operationId": "paymentWebhook",
                "description": "Riceve notifiche relative allo stato del pagamento (es. succeeded, failed).",
                "tags": [
                    "Payments"
                ],
                "requestBody": {
                    "description": "Payload inviato dal provider di pagamento contenente dettagli dell'evento.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "paymentId": {
                                        "type": "string",
                                        "description": "Identificativo del pagamento associato all'evento."
                                    },
                                    "event": {
                                        "type": "string",
                                        "description": "Tipo di evento scatenato (es. `payment_succeeded`)."
                                    },
                                    "data": {
                                        "type": "object",
                                        "description": "Oggetto contenente dati aggiuntivi relativi all'evento."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Notifica webhook ricevuta correttamente."
                    },
                    "default": {
                        "description": "Errore nell'elaborazione del webhook.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "description": "Codice di errore."
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Descrizione dell'errore."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "customerDataDeletionWebhook": {
            "post": {
                "summary": "Notifica cancellazione dati cliente",
                "description": "Webhook inviato al partner quando un cliente richiede la cancellazione dei propri dati da FlowPay in virtù del GDPR o altra normativa.",
                "operationId": "customerDataDeletion",
                "tags": [
                    "Customers"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "description": "Payload inviato al partner quando un cliente richiede la cancellazione dei propri dati.",
                                "properties": {
                                    "customerId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "UUID del cliente che ha richiesto la cancellazione dei propri dati."
                                    },
                                    "requestedAt": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Timestamp ISO 8601 in cui il cliente ha richiesto la cancellazione."
                                    }
                                },
                                "required": [
                                    "customerId",
                                    "requestedAt"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Partner ha ricevuto correttamente la notifica di cancellazione."
                    },
                    "default": {
                        "$ref": "#/components/responses/DefaultError"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "basicAuth": {
                "type": "http",
                "scheme": "basic",
                "description": "Utilizzare ClientID (UUID) come username e API Key come password."
            }
        },
        "parameters": {
            "LimitParam": {
                "name": "limit",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "default": 20,
                    "description": "Numero massimo di elementi per pagina."
                }
            },
            "OffsetParam": {
                "name": "offset",
                "in": "query",
                "required": false,
                "schema": {
                    "type": "integer",
                    "default": 0,
                    "description": "Numero di elementi da saltare."
                }
            }
        },
        "responses": {
            "BadRequest": {
                "description": "Richiesta non valida.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "description": "Codice di errore."
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Descrizione dell'errore."
                                }
                            },
                            "required": [
                                "code",
                                "message"
                            ]
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Risorsa non trovata.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "description": "Codice di errore."
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Descrizione dell'errore."
                                }
                            },
                            "required": [
                                "code",
                                "message"
                            ]
                        }
                    }
                }
            },
            "Conflict": {
                "description": "Conflitto nello stato della risorsa.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "description": "Codice di errore."
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Descrizione dell'errore."
                                }
                            },
                            "required": [
                                "code",
                                "message"
                            ]
                        }
                    }
                }
            },
            "DefaultError": {
                "description": "Errore inatteso.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "description": "Codice di errore."
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Descrizione dell'errore."
                                }
                            },
                            "required": [
                                "code",
                                "message"
                            ]
                        }
                    }
                }
            }
        },
        "schemas": {
            "Customer": {
                "type": "object",
                "description": "Informazioni sul cliente registrato da una richiesta di pagamento.",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Identificativo univoco del cliente."
                    },
                    "name": {
                        "type": "string",
                        "description": "Nome completo così come fornito dall'utente."
                    },
                    "providedName": {
                        "type": "string",
                        "description": "Nome completo così come fornito nella richiesta di pagamento."
                    },
                    "phoneNumber": {
                        "$ref": "#/components/schemas/PhoneNumber",
                        "description": "Numero di telefono cellulare del cliente registrato. Questo campo è presente solo se il numero di telefono è stato fornito nella richiesta di pagamento."
                    },
                    "registrationRequestId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID della richiesta di pagamento con cui il cliente è stato registrato."
                    }
                },
                "required": [
                    "id",
                    "userFullName",
                    "partnerFullName",
                    "registrationRequestId"
                ]
            },
            "Consumer": {
                "type": "object",
                "properties": {
                    "phoneNumber": {
                        "type": "string",
                        "description": "Numero di telefono cellulare della persona."
                    },
                    "name": {
                        "type": "string",
                        "description": "Nome della persona."
                    },
                    "surname": {
                        "type": "string",
                        "description": "Cognome della persona."
                    },
                    "tin": {
                        "type": "string",
                        "description": "Tax Identification Number della persona."
                    },
                    "residenceAddress": {
                        "type": "string",
                        "description": "Indirizzo di residenza della persona."
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email della persona."
                    }
                },
                "required": [
                    "phoneNumber"
                ]
            },
            "PhoneNumber": {
                "type": "string",
                "description": "Numero di telefono cellulare in formato E.164 (es. +391234567890).",
                "pattern": "^\\+?[1-9]\\d{1,14}$"
            },
            "ConsumerTIN": {
                "type": "string",
                "description": "Codice fiscale italiano (16 caratteri alfanumerici).",
                "pattern": "^[A-Z]{6}[0-9]{2}[A-Z][0-9]{2}[A-Z][0-9]{3}[A-Z]$"
            },
            "BusinessTIN": {
                "type": "string",
                "description": "Partita IVA europea (formato: codice paese ISO 2 lettere seguito da 8-12 caratteri alfanumerici).",
                "pattern": "^[A-Z]{2}[0-9A-Z]{8,12}$"
            },
            "IBAN": {
                "type": "string",
                "description": "IBAN europeo (formato: codice paese ISO 2 lettere, seguito da 2 cifre di controllo e fino a 30 caratteri alfanumerici).",
                "pattern": "^[A-Z]{2}[0-9]{2}[A-Z0-9]{1,30}$"
            },
            "PaymentCallbackEnum": {
                "type": "string",
                "enum": [
                    "success",
                    "error",
                    "cancel"
                ],
                "description": "Tipi di callback disponibili per il pagamento."
            },
            "PaymentMethod": {
                "type": "object",
                "description": "Metodo di pagamento tokenizzato.",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Identificativo univoco del metodo di pagamento."
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "card",
                            "bankAccount"
                        ],
                        "description": "Tipo di metodo di pagamento. Può essere 'card' per carte di credito/debito o 'bankAccount' per conti bancari."
                    },
                    "tokenizationDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e ora di tokenizzazione del metodo."
                    },
                    "enabled": {
                        "type": "boolean",
                        "description": "Indica se il metodo di pagamento è abilitato."
                    },
                    "paymentSessionId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID della sessione di pagamento associata a questo metodo."
                    },
                    "paymentRequestId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID della richiesta di pagamento a cui è collegato."
                    },
                    "methodIdentifier": {
                        "type": "string"
                    },
                    "issuer": {
                        "type": "string",
                        "description": "Nome dell'issuer o emittente del metodo di pagamento (es. banca o circuito carta)."
                    },
                    "issuerLogo": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL del logo dell'issuer o emittente del metodo di pagamento."
                    }
                },
                "oneOf": [
                    {
                        "title": "Card",
                        "properties": {
                            "type": {
                                "const": "card"
                            },
                            "methodIdentifier": {
                                "$ref": "#/components/schemas/MaskedPan"
                            }
                        }
                    },
                    {
                        "title": "Bank Account",
                        "properties": {
                            "type": {
                                "const": "bankAccount"
                            },
                            "methodIdentifier": {
                                "$ref": "#/components/schemas/MaskedIBAN"
                            }
                        }
                    }
                ],
                "required": [
                    "id",
                    "type",
                    "tokenizationDate",
                    "enabled",
                    "paymentSessionId",
                    "methodIdentifier"
                ]
            },
            "PaymentRequest": {
                "type": "object",
                "properties": {
                    "requestId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Identificativo univoco della richiesta di pagamento."
                    },
                    "link": {
                        "type": "string",
                        "format": "uri",
                        "description": "Link al checkout per il pagamento"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp ISO 8601 di creazione della richiesta di pagamento."
                    },
                    "amount": {
                        "type": "number",
                        "format": "decimal",
                        "minimum": 0.01,
                        "description": "Importo totale del pagamento (es. 10.50)."
                    },
                    "currency": {
                        "type": "string",
                        "description": "Valuta utilizzata (es. 'EUR')."
                    },
                    "payerId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ID univoco dell’entità che ha avviato la richiesta di pagamento (può coincidere con debtorId se non diversamente specificato)."
                    },
                    "debtorId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ID del debitore effettivo. Se non valorizzato, verrà usato lo stesso `payerId`."
                    },
                    "attachments": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid",
                            "description": "UUID di file allegati visibili al pagatore nel checkout."
                        },
                        "description": "Elenco di UUID dei file allegati visibili al pagatore."
                    },
                    "privateAttachments": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid",
                            "description": "UUID di file allegati privati (visibili solo a FlowPay per controlli interni)."
                        },
                        "description": "Elenco di UUID dei file riservati per controlli di conformità (non mostrati al pagatore)."
                    },
                    "title": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 50,
                        "description": "Titolo sintetico del pagamento, mostrato al pagatore."
                    },
                    "description": {
                        "type": "string",
                        "minLength": 5,
                        "maxLength": 255,
                        "description": "Descrizione estesa del pagamento, visibile al pagatore."
                    },
                    "remittanceInformation": {
                        "type": "string",
                        "minLength": 5,
                        "maxLength": 100,
                        "description": "Informazioni di rimessa (ad es. causale), visibili sia al pagatore che al beneficiario."
                    },
                    "allowRemittanceChange": {
                        "type": "boolean",
                        "default": false,
                        "description": "Se `true`, il pagatore può modificare le informazioni di rimessa in fase di pagamento."
                    },
                    "savePaymentMethod": {
                        "type": "boolean",
                        "default": false,
                        "description": "Se `true`, il metodo di pagamento scelto viene salvato e tokenizzato per futuri utilizzi."
                    },
                    "paymentMethod": {
                        "description": "Oggetto `PaymentMethod` associato a questo pagamento (se `savePaymentMethod` è `true`, qui troverai i dati del metodo tokenizzato).",
                        "$ref": "#/components/schemas/PaymentMethod"
                    },
                    "redirectUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL verso cui l’utente viene reindirizzato al termine del pagamento, con query param `status` in {\"success\",\"error\",\"cancel\"}."
                    },
                    "callbackUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL per le notifiche server-to-server sullo stato del pagamento."
                    },
                    "customerId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID del cliente associato a questa richiesta di pagamento."
                    },
                    "refundId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID del rimborso associato a questa richiesta, se presente."
                    },
                    "newCustomer": {
                        "type": "boolean",
                        "default": false,
                        "description": "Indica se il cliente è stato registrato per la prima volta tramite questa richiesta di pagamento."
                    }
                },
                "required": [
                    "requestId",
                    "createdAt",
                    "amount",
                    "customerId"
                ]
            },
            "PaymentRequestStatus": {
                "type": "string",
                "enum": [
                    "pending",
                    "rejected",
                    "succeeded",
                    "onHold"
                ],
                "description": "Stato della richiesta di pagamento."
            },
            "PaymentSessions": {
                "type": "object",
                "description": "Contiene la liste dei tentativi di pagamento e i relativi esisti",
                "properties": {
                    "sessionId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Identificativo univoco della sessione di pagamento."
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e ora di creazione della sessione in formato ISO 8601."
                    },
                    "endedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e ora di scadenza della sessione in formato ISO 8601."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "succeeded",
                            "pending",
                            "expired",
                            "failed",
                            "cancelled"
                        ],
                        "description": "Stato della sessione di pagamento."
                    }
                },
                "required": [
                    "sessionId",
                    "createdAt",
                    "expiresAt",
                    "status"
                ]
            },
            "MaskedPan": {
                "type": "string",
                "description": "PAN mascherato, formato tipico '**** **** **** 1234'.",
                "pattern": "^\\*{4}\\s?\\*{4}\\s?\\*{4}\\s?\\d{4}$"
            },
            "MaskedIBAN": {
                "type": "string",
                "description": "IBAN mascherato: conserva le prime 4 lettere e le ultime 4 cifre, con asterischi nel mezzo (es. 'IT60 **** **** 1234').",
                "pattern": "^[A-Z]{2}\\d{2}(?:\\s?\\*{4})+\\s?\\d{4}$"
            },
            "PaginatedResult": {
                "type": "object",
                "description": "Struttura di risposta comune per API che supportano la paginazione.",
                "properties": {
                    "total": {
                        "type": "integer",
                        "description": "Numero totale di elementi disponibili."
                    },
                    "limit": {
                        "type": "integer",
                        "description": "Numero massimo di elementi restituiti nella singola pagina."
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Numero di elementi saltati prima di questa pagina."
                    },
                    "count": {
                        "type": "integer",
                        "description": "Numero di elementi effettivamente restituiti in questa pagina."
                    },
                    "items": {
                        "type": "array",
                        "description": "Array di elementi della pagina corrente.",
                        "items": {
                            "type": "object",
                            "description": "Oggetto generico rappresentante un singolo elemento in una risposta paginata. Verrà esteso o referenziato da schemi specifici.",
                            "additionalProperties": true
                        }
                    }
                },
                "required": [
                    "total",
                    "limit",
                    "offset",
                    "count",
                    "items"
                ],
                "additionalProperties": false
            },
            "Refund": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
[...]
